.navlink {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    color: white;
    border: 1px solid white;
}

.active {
    color: #ffa1f2;
}

.bg-purple {
    background-color: #27112c;
}

.text-pink {
    color: #ffa1f2;
}

/* 
#47204F
#6C3878
#C059B2
#0F2A5F
#365653
 */